@font-face {
  font-family: 'FiraSans-Bold';
  src: url('../fonts/FiraSans-Bold.woff') format('woff'),
  url('../fonts/FiraSans-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'FiraSansMedium';
  src: url('../fonts/FiraSansMedium.woff') format('woff'),
  url('../fonts/FiraSansMedium.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}