.primary
  max-width: 110px
  max-height: 36px
  background-color: $primary
  color: $light
  font-size: 15px
  line-height: 29px
  outline: none
  border-radius: 5px
  border: 1px solid $primary
  &:hover
    background-color: #888888
    border: 1px solid #888888