*
  box-sizing: border-box

body
  font-size: 14px
  color: $dark
  font-family: 'FiraSansMedium', sans-serif

.container
  margin: 0 auto
  max-width: 1331px

h2
  font-size: 38px
  line-height: 29px
  font-family: 'FiraSans-Bold', sans-serif
  color: $dark

h3
  font-size: 26px
  line-height: 29px
  font-family: 'FiraSans-Bold', sans-serif
  color: $dark

