.header
  margin-top: 15px

  &__main-nav
    display: flex
    justify-content: space-between
    align-items: center

    @media (max-width: $mobile)
      display: none

    & a
      padding-bottom: 3px
      text-decoration: none
      border-bottom: 4px solid transparent
      font-size: 15px
      line-height: 29px
      color: $medium

      &:hover
        border-bottom: 4px solid #cccccc

      @media (max-width: $desktop)
        font-size: 13px
      @media (max-width: $tablet)
        font-size: 10px

  &__line
    width: 100%
    height: 2px
    background-color: #b4b4b4
    opacity: 0.1
    @media (max-width: $mobile)
      display: none

  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 20px
    margin-bottom: 22px
    @media (max-width: $desktop)
      margin-top: 15px

.head
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center

  &__time
    position: relative
    color: $dark
    font-size: 15px
    line-height: 22px
    @media (max-width: $tablet)
      display: none
    @media (max-width: $mobile)
      display: none

    &:before
      position: absolute
      top: 3px
      left: -24px
      content: url("../img/icons/clock.png")
      width: 14px
      height: 14px

    @media (max-width: $desktop)
      font-size: 13px
      line-height: 19px

  &__tel
    position: relative
    color: $dark
    font-family: 'FiraSansMedium', sans-serif
    font-size: 18px
    line-height: 29px

    &:before
      position: absolute
      top: 3px
      left: -22px
      content: url("../img/icons/phone.png")
      width: 14px
      height: 14px

    @media (max-width: $desktop)
      font-size: 15px
      line-height: 22px
    @media (max-width: $tablet)
      margin-left: 10px
      font-size: 12px
    @media (max-width: $mobile)
      display: none

  & button
    &.primary
      @media (max-width: $mobile)
        display: none

.wrap
  &__logo
    & img
      width: 202px
      height: 68px
      @media (max-width: $desktop)
        width: 145px
        height: 50px

  &__text
    margin-left: 32px
    font-size: 15px
    line-height: 22px
    color: #888888
    @media (max-width: $desktop-full)
      margin-left: 10px

    @media (max-width: $desktop)
      display: none


.nav
  width: 100%
  background-color: #353434

  &__container
    display: flex
    justify-content: space-between
    align-items: center

  & a
    padding: 22px 49px
    font-size: 18px
    color: $light
    text-decoration: none

    &:hover
      background-color: #5d5d5d

    @media (max-width: $desktop-full)
      padding: 20px 20px
    @media (max-width: $desktop)
      padding: 19px 14px
      font-size: 15px
    @media (max-width: $tablet)
      padding: 15px 10px
      font-size: 12px
    @media (max-width: $mobile)
      display: none

  &__form
    position: relative
    @media (max-width: $tablet)
      margin: 5px auto
      width: 20%
    @media (max-width: $mobile)
      width: 100%
      margin: 9px auto

    & input
      padding-top: 13px
      padding-left: 20px
      padding-bottom: 15px
      width: 402px
      outline: none
      font-size: 16px
      color: #888888
      border: 1px solid #f7f7f7
      border-radius: 4px
      @media (max-width: $desktop)
        width: 258px
        padding-top: 13px
        padding-left: 15px
        padding-bottom: 14px
        font-size: 13px
      @media (max-width: $tablet)
        width: 100%
      @media (max-width: $mobile)
        width: 100%


    & button
      cursor: pointer
      position: absolute
      top: 13px
      right: 10px
      background: url("../img/icons/search.png") center no-repeat
      width: 18px
      height: 18px
      background-color: $light
      outline: none
      border: none


.main-nav
  &__group
    display: flex
    justify-content: space-between
    align-items: center
    width: 50%
    @media (max-width: $desktop-full)
      width: 60%
    @media (max-width: $desktop)
      width: 75%

  &__email
    &:before
      content: url("../img/icons/email.png")
      margin-right: 10px
      width: 14px
      height: 10px
