.equipment
  margin-top: 70px
  @media (max-width: $desktop)
    margin-top: 43px
  @media (max-width: $mobile)
    margin-top: 30px
  &__group
    display: flex
    justify-content: space-between
    align-items: center



  &__list
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    margin-top: 45px
    @media (max-width: $desktop)
      margin-top: 18px



.list
  &__page
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 20px
    @media (max-width: $mobile)
      width: 100%
      &:nth-child(n+6)
        display: none



    & p
      font-family: 'FiraSansMedium', sans-serif
      font-size: 22px
      line-height: 29px
      @media (max-width: $desktop)
        font-size: 12.5px
        line-height: 23px
      @media (max-width: $mobile)
        font-size: 18px
        line-height: 15px


.line
  width: 100%
  height: 1px
  background-color: #e8e8e8
  @media (max-width: $desktop)
    margin-top: -10px


.page
  position: relative
  &__border
    position: absolute
    top: 12px
    width: 288px
    height: 146px
    background-color: transparent
    border: 1px solid #f7f7f7
    border-radius: 6px
    @media (max-width: $desktop)
      top: 8px
      width: 203px
      height: 104px
    @media (max-width: $mobile)
      width: 279px
      height: 145px
  & img
    @media (max-width: $desktop)
      width: 220px
      height: 120px
    @media (max-width: $mobile)
      width: 300px
      height: 165px