.title
  margin-bottom: 30px
  height: 440px
  width: 100%
  background: url('/dist/img/title-foto.jpg') center no-repeat

  & h1
    padding-left: 50px
    padding-top: 160px
    color: $light
    font-size: 48px
    line-height: 57px
    font-family: 'FiraSansMedium', sans-serif


