.guarantees
  margin-top: 127px

  & h3

    display: block
    margin-left: 210px


  & ul
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    list-style-type: none

    & li
      text-decoration: none
      width: 43%
      margin-bottom: 80px
      margin-right: 70px

      & img
        float: left
        width: 169px
        height: 170px


      & h4
        font-size: 18px
        line-height: 22px

      & p
        font-size: 14px
        line-height: 20px

