.projects
  position: relative
  height: 360px


  &__group-title
    display: flex
    justify-content: space-between
    align-items: center
  &__slider
    display: flex
    @media (max-width: $mobile)
      flex-direction: column
      justify-content: flex-start
      align-items: center
      margin-top: 19px

.slider
  position: absolute
  left: 0
  margin-top: 38px


  &__slide
    margin-right: 30px
    width: 310px
    height: 290px
    border: 1px solid #e8e8e8
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1)
    border-radius: 6px
    @media (max-width: $desktop)
      margin-right: 10px
      width: 155px
      height: 145px
    @media (max-width: $mobile)
      margin-bottom: 10px
      width: 301px
      &:nth-child(n+3)
        display: none
    & img
      @media (max-width: $desktop)
        width: 155px
        height: 145px
      @media (max-width: $mobile)
        width: 300px
        height: 280px

    & p
      font-size: 15px
      line-height: 22px
      color: $medium
      @media (max-width: $desktop)
        font-size: 12px
        line-height: normal
  &__navigate
    position: absolute
    bottom: 0
    left: 45%
    cursor: pointer
    @media (max-width: $desktop)
      bottom: 60px
    @media (max-width: $mobile)
      bottom: -195px
      left: 35%

.slide-3d
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 80px 20px
  width: 310px
  height: 360px
  @media (max-width: $desktop)
    padding: 20px 10px
    width: 155px
    height: auto
  @media (max-width: $mobile)
    width: 301px
    height: 271px
  & p
    text-align: center
    @media (max-width: $desktop)
      font-size: 12px
      line-height: 14px
      text-align: center
    @media (max-width: $mobile)
      font-size: 15px
      line-height: 22px
  & img
    @media (max-width: $desktop)
      width: 50%
      height: auto
    @media (max-width: $mobile)
      width: 57px
      height: 35px